<h1>Your Text Analysis</h1>
<%   %>
<h2>Number of Words: <%= @most_used.count_of_words()  %></h2>

<h2>Vowels: <%= @most_used.count_of_vowels()  %></h2>

<h2>Consonants: <%= @most_used.count_of_consonants()  %></h2>
<% results = @most_used.most_used_letter()  %>
<h2>Most Common Letter: <%= results.keys.first.to_s().capitalize() %>, used <%= results.values.first %> times</h2>
